# Simulaciones auxiliares:

comportamiento_peatones/simulation/
comportamiento_peatones/carros/

# Librerías

# Archivos de personalizacion unity

comportamiento_peatones/demo/emergencia/Library/CurrentLayout.dwlt
comportamiento_peatones/demo/emergencia/Library/CurrentMaximizeLayout.dwlt

# Otros

LICENSE
