<events>
    <event>
        <id>0</id>
        <name>AlarmBell</name>
        <playercontrolled>true</playercontrolled>
        <triggerkey>6</triggerkey>
        <radius>500</radius>
        <position>
            <x>30</x>
            <y>1</y>
            <z>30</z>
        </position>
        <modelname>AlarmBell</modelname>
        <animationname>AlarmBell</animationname>
        <interestlevel>0</interestlevel>
        <maxamountofparticipants>10</maxamountofparticipants>
        <NpcAnimationActions>
        </NpcAnimationActions>
        <associatedreactions>
            <id>8</id>
            <id>9</id>
        </associatedreactions>
        <personalityMinimums>
            <minimum>
                <id>0</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>1</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>2</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>3</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>4</id>
                <value>0</value>
            </minimum>
        </personalityMinimums>
    </event>
    <event>
        <id>1</id>
        <name>light_switch</name>
        <playercontrolled>true</playercontrolled>
        <triggerkey>l</triggerkey>
        <radius>500</radius>
        <position>
            <x>0</x>
            <y>1.5</y>
            <z>-8.7</z>
        </position>
        <modelname>light_switch</modelname>
        <animationname>light_switch</animationname>
        <interestlevel>12</interestlevel>
        <maxamountofparticipants>3</maxamountofparticipants>
        <NpcAnimationActions>
        </NpcAnimationActions>
        <associatedreactions>
            <id>1</id>
        </associatedreactions>
        <personalityMinimums>
            <minimum>
                <id>0</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>1</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>2</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>3</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>4</id>
                <value>0</value>
            </minimum>
        </personalityMinimums>
    </event>
    <event>
        <id>2</id>
        <name>Celebration</name>
        <playercontrolled>true</playercontrolled>
        <triggerkey>g</triggerkey>
        <radius>500</radius>
        <position>
            <x>0</x>
            <y>2.5</y>
            <z>-7.7</z>
        </position>
        <modelname>CelebrationModel</modelname>
        <animationname>Celebration</animationname>
        <interestlevel>1</interestlevel>
        <maxamountofparticipants>9</maxamountofparticipants>
        <NpcAnimationActions>
        </NpcAnimationActions>
        <associatedreactions>
            <id>4</id>
            <id>5</id>
            <id>6</id>
            <id>7</id>
        </associatedreactions>
        <personalityMinimums>
            <minimum>
                <id>0</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>1</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>2</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>3</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>4</id>
                <value>0</value>
            </minimum>
        </personalityMinimums>
    </event>
    <event>
        <id>3</id>
        <name>Faint</name>
        <playercontrolled>true</playercontrolled>
        <triggerkey>h</triggerkey>
        <radius>500</radius>
        <position>
            <x>0</x>
            <y>2.5</y>
            <z>-7.7</z>
        </position>
        <modelname>FaintModel</modelname>
        <animationname>Faint</animationname>
        <interestlevel>1</interestlevel>
        <maxamountofparticipants>9</maxamountofparticipants>
        <NpcAnimationActions>
        </NpcAnimationActions>
        <associatedreactions>
            <id>6</id>
        </associatedreactions>
        <personalityMinimums>
            <minimum>
                <id>0</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>1</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>2</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>3</id>
                <value>0</value>
            </minimum>
            <minimum>
                <id>4</id>
                <value>0</value>
            </minimum>
        </personalityMinimums>
    </event>
</events>