<settings>
  <personalities>
    <personality>
      <id>0</id>
      <name>
    Extraversion
  </name>
      <minvalue>100</minvalue>
      <maxvalue>100</maxvalue>
    </personality>
    <personality>
      <id>1</id>
      <name>
      Egoism
    </name>
      <minvalue>100</minvalue>
      <maxvalue>100</maxvalue>
    </personality>
    <personality>
      <id>2</id>
      <name>
      Thoroughness
    </name>
      <minvalue>100</minvalue>
      <maxvalue>100</maxvalue>
    </personality>
    <personality>
      <id>3</id>
      <name>
      EmotionalStability
    </name>
      <minvalue>100</minvalue>
      <maxvalue>100</maxvalue>
    </personality>
  </personalities>
  <personalitynames>
    <personality>
      <name>Extraversion</name>
      <id>0</id>
    </personality>
    <personality>
      <name>Egoism</name>
      <id>1</id>
    </personality>
    <personality>
      <name>Thorougness</name>
      <id>2</id>
    </personality>
    <personality>
      <name>Emotional Stability</name>
      <id>3</id>
    </personality>
    <personality>
      <name>Intraversion</name>
      <id>4</id>
    </personality>
    <personality>
      <name>Altruism</name>
      <id>5</id>
    </personality>
    <personality>
      <name>Chaoticness</name>
      <id>6</id>
    </personality>
    <personality>
      <name>Neuroticism</name>
      <id>7</id>
    </personality>
  </personalitynames>
  <spawnpoints>
    <spawnpoint>
      <x>1.71</x>
      <y>0.0</y>
      <z>-1.57</z>
    </spawnpoint>
    <spawnpoint>
      <x>2.22</x>
      <y>0.0</y>
      <z>6.43</z>
    </spawnpoint>
  </spawnpoints>
  <modelnames>
    <modelname>PlayerLiam</modelname>
    <modelname>PlayerMalcon</modelname>
    <modelname>PlayerRegina</modelname>
    <modelname>PlayerRemy</modelname>
    <modelname>PlayerShae</modelname>
    <modelname>PlayerStefani</modelname>
  </modelnames>
</settings>